{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        body { background-color: black; margin: 0; padding: 0; }
        .frame { position: relative; width: 100vw; height: 100vh; visibility: hidden; }
        .background {
            position: absolute; width: 100%; height: 100%;
            object-fit: cover;
        }
        .photo {
            position: absolute; width: 100%; height: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
  <div class="frame" id="frame">
    <img class="background" id="background" src="{% static "img/series_final.png" %}">
    <img class="photo" id="photo">
  </div>
  <script>
    var ph = document.getElementById('photo');
    var bg = document.getElementById('background');
    var fr = document.getElementById('frame');
    function reveal() { if (ph.complete && bg.complete) fr.style.visibility = 'visible'; }
    ph.onload = reveal;
    bg.onload = reveal;
    ph.src = "{% static 'img/last.jpg' %}?" + Date.now();
    if (ph.complete && bg.complete) reveal();
  </script>
</body>
</html>
