{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "css/series-banner.css" %}">
    <style>
        body { background-color: black; }
        * { margin: 0; padding: 0; }
        .imgbox { display: grid; height: 100%; }
        .center-fit { max-width: 100%; max-height: 100vh; margin: auto; }
    </style>
</head>
<body>
  <div class="imgbox">
    <img src="{% static "img/series_capture.png" %}" class="center-fit">
  </div>
  <div class="series-banner">Next shot: {{ shot }} of {{ total }}</div>
</body>
</html>
